body{
    background-color: black !important;
}

.section {
    width: calc(( 1665.770 / 1920) * 100%) !important;
    margin: auto;
}

.page6 {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.page6 .fp-tableCell {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page6 .fp-tableCell .textDescTab {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 60px;
}

.page6 .fp-tableCell .textDescTab .textDescTabTitle {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.page6 .fp-tableCell .textDescTab .textDescTabTitle:after {
    content: "";
    position: absolute;
    height: 70%;
    left: 50%;
    width: 1px;
    top: 0;
    background-color: #b9845f;
}

.page6 .fp-tableCell .textDescTab .textDescTabDesc {
    text-align: center;
    font-size: 1.8vh;
    line-height: 2vh;
    color: #494949;
    margin-top: 25px;
    display: none;
}

.page6 .fp-tableCell .textDescTab .js-active {
    display: block;
}

.page6 .fp-tableCell .textDescTab .textDescTabTitle .textDescTabTitleMod {
    width: 50%;
    text-align: center;
    /* margin: 0 30px; */
    font-size: 2.4vh;
    height: 4.5vh;
    line-height: 4.5vh;
    color: #dfc9ba;
    cursor: pointer;
}

.page6 .fp-tableCell .textDescTab .textDescTabTitle .js-active {
    color: #b1851e;
    position: relative;
}

.page6 .fp-tableCell .textDescTab .textDescTabTitle .js-active:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 89%;
    height: 1px;
    background-color: #b9845f;
    left: 50%;
    transform: translateX(-50%);
}

.page6 .fp-tableCell .swiperBoxType2 {
    max-width: 1100px ;
    margin: 0 auto;
}

.page6 .fp-tableCell .swiperBoxType2 #swiper_3 {
    position: relative;
}

.page6 .fp-tableCell .swiperBoxType2 #swiper_3 .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23b88d70'%2F%3E%3C%2Fsvg%3E");
    right: -60px;
    outline: 0;
}

.page6 .fp-tableCell .swiperBoxType2 #swiper_3 .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23b88d70'%2F%3E%3C%2Fsvg%3E");
    left: -60px;
    outline: 0;
}

.page6 .fp-tableCell .swiperBoxType2 #swiper_3 .swiper-pagination {
    left: 50%;
    transform: translateX(-50%);
    bottom: -35px;
}

.page6 .fp-tableCell .swiperBoxType2 #swiper_3 .swiper-pagination .swiper-pagination-bullet {
    border: 1px solid #b9845f;
    background: #fff;
    opacity: 1;
    margin: 0 3px;
}

.page6 .fp-tableCell .swiperBoxType2 #swiper_3 .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #b9845f;
}

.page6 .fp-tableCell .swiperBoxType2 #swiper_3 .swiper-pagination swiper-pagination-bullet-active {}

.page6 .fp-tableCell .swiperBoxType2 .swiper-slide {
    height: 400px;
    width: 720px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 3px #fff;
    margin: 0 5px;
    outline: #c2c2c2 solid 1px;
}

/*.page6 .fp-tableCell .swiperBoxType2 .swiper-slide img {
    width: 100%;
    height: 100%;
}
*/
.page6 .fp-tableCell .swiperBoxType2 h3 {font-size: 46px;color: #b9845f;/* font-weight: 800; */text-align: center;margin-bottom: 20px;}

.page6 .fp-tableCell .logoMod {
    position: absolute;
    z-index: 5;
    top: 50px;
    left: 3vw;
}

.page6 .fp-tableCell .logoMod .swiperBoxType2 {
    width: 80%;
    margin: auto;
}

.page6 .fp-tableCell .logoMod img {
    height: 82px;
    width: auto;
    display: block;
}

.page5 {
    position: relative;
    z-index: 3;
    left: 0;
    top: 0;
}

.page5 .mapBoxList {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.page5 .mapBoxList .mapBox {
    /*position: absolute;
    width: 100%;
    height: 100%;
    background: url(https://s3.ap-southeast-1.amazonaws.com/alphaking/akr_centennial/image/mapAll_n_b.jpg) no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 2667px;
    height: 1500px;
    cursor: move;
    left: -1040px;
    top: -400px;*/
}

.page5 .mapBoxList .mapBox img{
    width: 100%;
    height: auto;
    display: block;
}

.page4 {}

.page4 .fp-tableCell {
    display: flex;
    flex-wrap: wrap;
}

.page4 .fp-tableCell .swiperBoxDesc {
    width: 43%;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../image/logoBg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.page4 .fp-tableCell .swiperBoxDesc .pageLRMod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
}

.page4 .fp-tableCell .swiperBoxDesc .pageLRMod h4 {
    font-size: 55px;
    color: #b9845f;
    margin-bottom: 50px;
}

.page4 .fp-tableCell .swiperBoxDesc .pageLRMod p {
    font-size: 2vh;
    line-height: 2.5vh;
    /* margin: 20px 0; */
    color: #494949;
}

.page4 .fp-tableCell .swiperBoxDesc .pageLRMod .picTitle img {
    display: block;
    width: 488px;
    height: auto;
}

.page4 .fp-tableCell .swiperBoxDesc .logoTitle {
    position: absolute;
    top: 40px;
    left: 40px;
}

.page4 .fp-tableCell .swiperBoxDesc .logoTitle img {
    display: block;
    height: 12vh;
    width: auto;
}

.page4 .fp-tableCell .swiperBox {
    width: 57%;
    /* background-color: #fff; */
    position: relative;
}

.page4 .fp-tableCell .swiperBox .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    outline: 0;
}

.page4 .fp-tableCell .swiperBox .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    outline: 0;
}

.page4 .fp-tableCell .swiperBox .swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    background-color: #fff;
    border: 1px solid #b9845f;
}

.page4 .fp-tableCell .swiperBox .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #b9845f;
}

.page4 .fp-tableCell .swiperBox .swiper-pagination span.swiper-pagination-active {
    background-color: aqua;
}

.page4 .fp-tableCell .swiperBox .swiper-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.page3 {
    position: relative;
    background-color: #fff;
}

.page3 .fp-tableCell {
    display: block;
}

.page3 .logoMod {
    position: absolute;
    top: 50px;
    left: 3vw;
    z-index: 2;
}

.page3 .swiperBox {
    position: relative;
}

.page3 .swiperBox .swiper-pagination {
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}

.page3 .swiperBox .swiper-pagination .swiper-pagination-bullet {
    background: #fafafa;
    opacity: 1;border: solid 1px #b9845f;
    margin: 0 3px;
}

.page3 .swiperBox .swiper-pagination .swiper-pagination-bullet-active {
    background: #b9845f;
}

.page3 .swiperBoxDesc {
    text-align: center;
    margin-top: 57px;
}

.page3 .swiperBoxDesc p {
    color: #494949;
    font-size: 1.8vh;
    margin: 10px 0;
    /* font-weight: 600; */
}

.page3 .swiperBoxDesc h4 {
    color: #b9845f;
    font-size: 2.2vh;
    margin: 10px 0;
}

.page3 .swiperBox .swiper-slide {
    padding-top: calc((717.05 / 1578) * 100%);
    height: 100px;
}

.page3 .logoMod img {
    display: block;
    height: 82px;
    width: auto;
}

.page2 .pageBox {
    position: relative;
    width: 100%;
    height: 100%;
}

.page2 .pageBox .page2BgBox {
    width: 100%;
    height: 100%;
    position: relative;
}

.page2 .pageBox .page2BgBox .page2Text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.page2 .pageBox .page2BgBox .page2Text .pageLRMod {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 40px;
    position: relative;
    background-color: #fff;
}

.page2 .pageBox .page2BgBox .page2Text .pageLRMod:after {
    content: "";
    position: absolute;
    background-image: url(../image/logoBg.png);
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.page2 .pageBox .page2BgBox .page2Text .pageLRMod :after {
    content: "";
    background-image: url(../image/logoBg.png);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
}

.page2 .pageBox .page2BgBox .page2Text .pageLRMod .anLeft2 {
    font-size: 55px;
    color: #b9845f;
    font-weight: 500;
    margin-bottom: 55px;
}

.page2 .pageBox .page2BgBox .page2Text .pageLRMod .anLeft3 {
    font-size: 2vh;line-height: 2.5vh;
    /* margin: 20px 0; */
    color: #494949;
}

.page2 .pageBox .page2BgBox .page2Text .pageLRMod .toLink {
    text-align: right;
    color: #b9845f;
    font-size: 16px;
    margin-top: 20px;
}

.page2 .pageBox .page2BgBox .page2Text .pageLRMod .toLink a {
    text-decoration: none;
    color: #b9845f;
    cursor: pointer;
}

.page2 .pageBox .page2BgBox .page2Text .pageLRMod .picTitle img {
    display: block;
    width: 517px;
    height: auto;
}

.page2 .pageBox .page2BgBox .page2Text .page2Bg {
    width: 55%;
    background: aqua;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(../image/page_2Bg.png);
}

.page2 .pageBox .page2BgBox .logoTitle {
    position: absolute;
    top: 40px;
    left: 40px;
}

.page2 .pageBox .page2BgBox .logoTitle img {
    height: 12vh;
    width: auto;
    display: block;
}

.page2 .pageBox .video2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
}
.page1 .pageBox{
    width: 100%;
    height: 100vh;
    position: relative;
}
.page1 .pageBox video{
    height: 100%;
    width: 100%;
}
.page1 .pageBox .logoMod {
    position: absolute;
    top: 50px;
    left: 3vw;
}

.page1 .pageBox .toNext {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    cursor: pointer;
}

.page1 .pageBox .toNext a img {
    display: block;
    width: 67px;
    height: auto;
}
.page1 .pageBox .logoMod img {
    height: 82px;
    width: auto;
    display: block;
}
/*.................................................................................*/
