@font-face {
font-family:Muli-Light; /*这里是说明调用来的字体名字*/
src: url('../image/Muli-Light.ttf'); /*这里是字体文件路径*/
}
body{
    font-size:0.26rem;
	font-family:Muli-Light;
	background:#fff !important;
}
.fullpage {
    padding: 0 calc(100% / 12);

}
.page7{
    width: 100%;
    position: relative
}

.fullpage .page7 .logoMod,.fullpage .page8 .logoMod,.fullpage .page12 .logoMod {
    position: absolute;
    left: 40px;
    top: 50px;
    z-index: 2;
}

.fullpage .page7 .logoMod img,.fullpage .page8 .logoMod img,.fullpage .page12 .logoMod img  {
    height: 82px;
    width: 127px;
}

.fullpage .page7 .swiperBoxType2,.fullpage .page8 .swiperBoxType2,.fullpage .page12 .swiperBoxType2 {
    width: calc((100% / 10) * 8);
    position: relative;
    margin: 20px auto;
}

.fullpage .page7 .swiperBoxType2 h3,.fullpage .page8 .swiperBoxType2 h3,.fullpage .page12 .swiperBoxType2 h3 {
    font-size: 46px;
    color: #b9845f;
     font-weight: 800;
     font-family:Muli-Light;
    text-align: center;
    margin-bottom: 20px;
}
.fullpage .page7 .swiperBoxType2 .swiper_7 .swiper-button-prev,.fullpage .page8 .swiperBoxType2 .swiper_8 .swiper-button-prev {
    left: -60px;
    color: #b9845f;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23b88d70'%2F%3E%3C%2Fsvg%3E");
    outline: none;
}
.fullpage .page7 .swiperBoxType2 .swiper_7 .swiper-button-next,.fullpage .page8 .swiperBoxType2 .swiper_8 .swiper-button-next  {
    right: -60px;
    color: #b9845f;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23b88d70'%2F%3E%3C%2Fsvg%3E");
    outline: none;
}
.swiperBoxType2 .swiper-pagination {
    width: 100%;
    bottom: 20px;
}
.swiper-pagination .swiper-pagination-bullet  {
    background: #fff;
    border: 1px solid #b9845f;
    opacity: 1;
    margin: 0 3px;
}

 .swiper-pagination .swiper-pagination-bullet-active {

    background: #b9845f;
}

.page7 .textDescTab .textDescTabTitle,.page8 .textDescTab .textDescTabTitle{
	    display: flex;
    justify-content: center;
    font-family:Muli-Light;

}

.page7 .textDescTab .textDescTabTitle .textDescTabTitleMod,.page8 .textDescTab .textDescTabTitle .textDescTabTitleMod{
	margin: 0 30px;
    font-size: 2.4vh;
    height: 4.5vh;
    line-height: 4.5vh;
    font-weight: 600;
    color: #dfc9ba;
    cursor: pointer;
    width: 35vh;
    text-align: center;
    font-family:Muli-Light;
}
.page7 .textDescTab .textDescTabTitle .select,.page8.textDescTab .textDescTabTitle .select,.page8 .textDescTab .textDescTabTitle .select,.page8.textDescTab .textDescTabTitle .select{
border-bottom: 1px solid #b9845f;
    color: #b9845f;
}
.page7 .textDescTab .textDescTabTitle span{
    height: 30px;
    width: 1px;
    background: #b9845f;
}
.page7 .textDescTab .textDescTabDesc,.page8 .textDescTab .textDescTabDesc{
text-align: center;
    font-size: 1.8vh;
    line-height: 2vh;
    width: 70%;
    margin: 20px auto;
    font-weight: 600;
    color: #494949;
    height: 6vh;
    font-family:Muli-Light;
}
.page7 .textDescTab .none{
display: none;
}
.page8{
    position: relative
}
.page8 .textDescTab .none{
display: none;
}
.swiperBoxType2 .swiper-container-7,.swiperBoxType2 .swiper-container-8,.swiperBoxType2 .swiper-container-12{
    padding-bottom: 60px;
}
.swiper-container-7{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-container-7 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 400px;
}
.swiper-container-7 .swiper-slide.swiper-slide-next, .swiper-slide.swiper-slide-prev{
    transform: translate3d(0px, 0px, -100px) rotateX(0deg) rotateY(0deg) scale3d(1, 0.7, 0.7)!important;
}
.swiper-container-7 .swiper-slide.swiper-slide-active{
    transform: scale3d(1);
}
.swiper-container-8,.swiper-container-3{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-container-8 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 400px;
}
.swiper-container-3 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 400px;
}
.page12{
    position: relative !important;
}
.swiper-container-12{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-container-12 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 400px;
}

.swiper-container-8 .swiper-slide.swiper-slide-next,
.swiper-container-8 .swiper-slide.swiper-slide-prev,
.swiper-container-7 .swiper-slide.swiper-slide-next,
.swiper-container-7 .swiper-slide.swiper-slide-prev,
.swiper-container-12 .swiper-slide.swiper-slide-next,
.swiper-container-12 .swiper-slide.swiper-slide-prev,
.swiper-container-3 .swiper-slide.swiper-slide-next,
.swiper-container-3 .swiper-slide.swiper-slide-prev{
    transform: translate3d(0px, 0px, -100px) rotateX(0deg) rotateY(0deg) scale3d(1, 0.7, 0.7)!important;
} 
.swiper-container-8,.swiper-container-3 .swiper-slide.swiper-slide-active{
    transform: scale3d(1);
}
/* page10 */
.page10{
    position: relative;
}
.logoTitle {
    position: absolute;
    left: 40px;
    top: 40px;
}
.logoTitle img{
    height: 82px;
    width: 137px;
}
.page10 .page10Left{
    width: 40%;
}
.page10 .textLogoTitleBoxMod{
    padding: 0 40px;
    text-align: left;
}
.page10 .anRight2{
color: #b9845f;
    font-size: 55px;
    font-weight: 500;
    font-family:Muli-Light; /*这里是说明调用来的字体名字*/

}
.page10 .anRight3{
    font-size: 2vh;
    line-height: 2.5vh;
    margin: 20px 0;
    color: #494949;
}
.page10DescMod{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.page10DescModLeft{
    color: #b9845f;
    font-size: 28px;
    width: 30%;
}
.page10DescMod .page10DescModRight {
    width: 70%;
    line-height: 18px;
    font-family:Muli-Light; /*这里是说明调用来的字体名字*/

}
/* section11 */
.page11{
    display: flex;
    flex-wrap: wrap;

}
.page11-block{
    display: flex !important;
    flex-wrap: wrap !important;
}
.swiperBoxMod_2 .swiperBox {
    height: 100vh;
    width: calc((100% / 10) * 6);
}
.swiperBoxMod_2 .swiperBox .swiper-slide{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.swiperBoxMod_2 .swiperBoxDesc {
    
     width: calc((100% / 10) * 4);
     position: relative
}
.swiperBoxDesc{
    position: relative
}
.swiperBoxMod_2 .swiperBoxDesc .pageLRMod {
    padding: 0 40px 10vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.pageLRMod .anRight1 img{
width: 100%;
}
.pageLRMod  .anRight2{
color: #b9845f;
    font-size: 55px;
    font-weight: 500;
      font-family:Muli-Light; /*这里是说明调用来的字体名字*/
}
.pageLRMod .anRight3{
width: 100%;
font-size: 2vh;
    line-height: 2.5vh;
    margin: 20px 0;
    color: #494949;
    margin-top: 40px;
    font-family:Muli-Light; /*这里是说明调用来的字体名字*/
}
.page11-block .swiper-button-prev{
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
    left: 10px;
    right: auto;
}
.page11-block .swiper-button-next{
position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
    right: 10px;
    left: auto;
}
.page11-block .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");}
.page11-block .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");}


@media screen and (max-width: 480px) {
  .fullpage .page7 .logoMod,.fullpage .page8 .logoMod {
    display: none;
}
.fullpage .page7 .swiperBoxType2,.fullpage .page8 .swiperBoxType2 {
    width: 100%;
    position: relative;
    margin-top: 0px;

}
.swiper_7{
    position: relative;
}
.swiper-container-7 .swiper-slide {
    width: 60%;
    height: 200px;
}
.fullpage .page7 .swiperBoxType2 h3,.fullpage .page8 .swiperBoxType2 h3 {
    font-size: 25px;
    padding-top: 75px;
    margin-top: 0px !important;
}
.page7 .textDescTab .textDescTabTitle .textDescTabTitleMod,.page8 .textDescTab .textDescTabTitle .textDescTabTitleMod{
    font-size: 14px;
    line-height: 19px;
    width: 100%;
    margin: 0px auto;
    height: 100%;
    padding: 10px;
    
}
.page7 .textDescTab .textDescTabDesc, .page8 .textDescTab .textDescTabDesc {
   text-align: center;
    font-size: 14px;
    line-height: 19px;
    width: 100%;
    margin: 20px auto;
    color: #494949;
    height: 100%;
    
}
.fullpage .page7 .swiperBoxType2 .swiper_7 .swiper-button-prev, .fullpage .page8 .swiperBoxType2 .swiper_8 .swiper-button-prev {
    left: 0px;
    
}
.fullpage .page7 .swiperBoxType2 .swiper_7 .swiper-button-next, .fullpage .page8 .swiperBoxType2 .swiper_8 .swiper-button-next {
    right: 0px;
   
}
}